body{
  background-color: antiquewhite;
}
/* navigation bar */
.navBar{
  
  height:  50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navIcons{
  margin-top: 2%;
  height: 50px;
  width: 8%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.navLogo{
  height: 90px;
  width: 50%;
  justify-content: center;
  text-align: center;
}
.navCart{
  margin-top: 2%;
  height: 50px;
  width: 21%;
  justify-content: space-evenly;
  display: flex;
}

/* nav icons */
#navList{
  font-size: 18px;
}
#navSearch{
  font-size: 26px;
}
#navFavorite{
  font-size: 26px;
}

/* cart icons */
#cartNumber{
  border-radius: 50%;
  width: 18px;
  height: 18PX;
  /* padding: 10px; */
  background: black;
  border: 3px solid #000;
  color: white;
  justify-content: center;
  text-align: center;
  font: 14px Segoe UI ;
  font-weight: bolder;
  
  /*  */
  margin-top: 2%;
}

.cartText{
  font-family: 'Caveat', cursive;
  margin-top: 1%;
  font-size: 24px;
}
.cartHiphen{
  font-family: 'Caveat', cursive;
  margin-top: 2%;
  font-weight: bolder;
}
.cartPrice{
  margin-top: 1%;
  font-family: 'Caveat', cursive;
  font-size: 22px;
}

/*  */
.cartDB-btn {
  background-color: transparent;
  color: black;
  /* padding: 16px; */
  font-size: 16px;
  border: none;
}

.cartDB {
  position: relative;
  display: inline-block;
  margin-top: 2%;
  
}

.cartDB-content {
  font-family: 'Caveat', cursive;
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 90px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

  border-radius: 15px;
}

.cartDB-content p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.cartDB-content p:hover {background-color: blanchedalmond; cursor: pointer;}

.cartDB:hover .cartDB-content {display: block; cursor: pointer;}

.cartDB:hover .cartDB-btn {background-color: transparent;}


/*  GRID BOX*/
.grid-container {
  margin-top: 4%;
  display: grid;
  grid-gap: -2; 
  
  /* padding: 10px; */
  height: 550px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px;
  font-size: 30px;
}

.item1 {
  grid-column: 1 ;
  grid-row: 1/4;
  margin-block: auto;
  background-color: transparent;
}

.item2 {
  grid-column: 2;
  grid-row: 1 / 4;
  display: flex;
  background-color: transparent;
  margin-left: 10%;
  margin-top: 20%;
  
}
.item3{
    margin-left: 21%;
  grid-column: 3;
  grid-row: 1 /  4;
  background-color: transparent;
  position: relative;
  
}

.item4 {
  grid-column: 4;
  grid-row: 1/4;
  margin-block: auto;
  background-color: transparent;
}

.item5{
    margin-top: 2%;
  grid-row: 4;
  grid-column: 1/span 4;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
}

/*  */


/* small pic */
.p1{
  /* margin-left: 20%; */
  margin-top: 150px;
  background-color: rgb(236 221 221);
  border-radius: 50%;
  border-width: 20px;
  height: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}
.text1{
  margin-left: 12%;
  font-size: 18px;
  margin-top: 220px;
  font-family: sans-serif;
  font-weight: bolder;
  text-align: left;
  /* margin-right: -26%; */
}
.line2{
  font-family: sans-serif;
  font-weight: 200;
  font-size: 10px;
}
.line3{
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 12px;
}

/* big pic */


.pics1{
  display: flex;
  
  
}
.p2{
  margin-left: -53%;
  width: 432px;
  position: absolute;
  z-index: 9;
}
/* OVerlay text */

.overlay{
  position: absolute;
  margin-top: 10%;
  margin-left: 28%;
  /* width: 100%; */
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 95px;
  z-index: 10;
}
.text2{
  margin-left: 42%;
   margin-top: 370px; 
  font-family: sans-serif;
  font-weight: bolder;
  text-align: right;
  font-size: 18px;
}
.line4{
  font-family: sans-serif;
  font-weight: 200;
  font-size: 10px;
}
.line5{
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 12px;
}


/* footer */
/* .footer{
  display: flex;
  justify-content: space-between;
}
.catalog{
  height: 40px;
  width: 15%;
  display: flex;
  text-align: left;
  font-family: Franklin Gothic Medium;
  font-size: 25px;
  color: rgb(209, 54, 54);
  
}
/* dots */

/* .dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
} */

.catalog{
  height: 40px;
  width: 15%;
 display: flex;
 color: rgb(219, 23, 23);
 font-family: sans-serif;
 font-weight: 700;
  

}
/* dots */
.dots{
  height: 40px;
  width: 5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.dot1 {
  margin-top: 15%;
  height: 5px;
  width: 5px;
  background-color: black;
  border-radius: 50%;
  /* display: inline-block; */
}

.dot2 {
  margin-top: 15%;
  height: 5px;
  width: 5px;
  background-color: black;
  border-radius: 50%;
  /* display: inline-block; */
}

.dot3 {
  margin-top: 15%;
  height: 5px;
  width: 5px;
  background-color: black;
  border-radius: 50%;
  /* display: inline-block; */
}





/* like */
.like{
  height: 40px;
  width: 15%;
  
  

}

/* logo */
.navLogo{

}





/* mobile */

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
body{
  max-width: 85%;
}
  .navBar{
    height:  50px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .navIcons{
    height: 50px;
    width: 100%;
    display: block;
  }
  .navLogo{
    height: 30px;
    width: 190%;
    justify-content: center;
    text-align: center;
  }


  .navCart{
    /* margin-left: 80%; */
    height: 50px;
    width: 100%;
    margin-right: -8%;
    justify-content: space-between;
    display: flex;
  }
/* nav icons */
#navList{
  font-size: 14px;
}
#navSearch{
  font-size: 18px;
}
#navFavorite{
  font-size: 18px;
}
/* cart icons */
#cartNumber{
  border-radius: 50%;
  width: 8px;
  height: 10PX;
  /* padding: 10px; */
  background: black;
  border: 3px solid #000;
  color: white;
  justify-content: center;
  text-align: center;
  font: 12px Segoe UI ;
  font-weight: bolder;
  
  /*  */
  margin-top: 2%;
}
  
.cartText{
  display: none;
}
.cartHiphen{
  display: none;
}
.cartPrice{
  font-family: 'Caveat', cursive;
  margin-top: 1%;
  font-size: 12px;
}
/*  */
.cartDB-btn {
  background-color: transparent;
  color: black;
  /* padding: 16px; */
  font-size: 6px;
  border: none;
}

.cartDB {
  position: relative;
  display: inline-block;
  margin-top: 2%;
  
}

.cartDB-content {
  font-family: 'Caveat', cursive;
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

  border-radius: 15px;
}

.cartDB-content p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.cartDB-content p:hover {background-color: blanchedalmond; cursor: pointer;}

.cartDB:hover .cartDB-content {display: block; cursor: pointer;}

.cartDB:hover .cartDB-btn {background-color: transparent;}

/*  GRID BOX*/
.grid-container {
  display: block;
  grid-gap: -2; 
  
  /* padding: 10px; */
  height: 100%;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;

  font-size: 8px;
}

.item1,.item4 {
 display: none;
}
.item2 {
  grid-column: 2;
  grid-row: 1 / 4;
  display: flex;
  background-color: transparent;
   /* margin-left: 10%;  */
  margin-top: 5%;
}

.item3{
  margin-left: 21%;
grid-column: 3;
grid-row: 1 /  4;
background-color: transparent;
align-items:center;
display: block;
}

.p2{
  margin-left: 14%;
  width: 100%;
  margin-top: 55%;
  
}
.overlay{
  font-size: 70px;
  text-align: center;
   
 }
.text2{
  margin-left: -26%; 
   margin-top: 550px; 
  font-family: sans-serif;
  font-weight: bolder;
  text-align: center;
  font-size: 28px;
}
.line4{
  font-family: sans-serif;
  font-weight: 200;
  font-size: 10px;
}
.line5{
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 12px;
}
.catalog{
display: none;
}

/* dots */
.dots{
 display: none;
}

/* like */
.like{
  height: 40px;
  width: 15%;
  margin-left: 40%;
}

.item5{
  /* width: 70%; */
  margin-top: 3px;
justify-content: space-between;
background-color: transparent;
}





}